<!-- client/views/app/app-threadFeed.html-->

<!--///////////////////////////////////////////////////////////////////////
   ///// CONTAINER FOR THREADS THAT IS INSERTED INTO VIA THE UI VIEW /////  
  /////////////////////////////////////////////////////////////////////// -->

 <section ng-class="{ 'menu-selected-outter': menuSelected }">

    <div class="col-thread-feed" ng-class="{ 'menu-selected-inner': menuSelected }">

          <div ui-view="threadFeedContent"></div>

    </div><!-- col-1-2 -->

</section><!-- outter-wrapper --> 










